{% extends 'base.html.j2' %}

{% block title %}
    Pokemon Team Entry
{% endblock %}

{% block content %}

    <form action="{{url_for('entry')}}" method="POST">
        {{ form.hidden_tag() }}
        <br>
        <div>
            {{form.name.label(class="from-label")}}
            <br>
            {{form.name(class="form-control")}}
            <br>
            {% for error in form.name.errors %}
                <small style="color:red;">{{error}}</small>
            {% endfor %}
        </div>
        
        <div>
            {{form.submit(class="btn btn-primary form-control")}}
        </div>
    </form>

    {% if pokemon %}
    <br>
    <div class="card" style="width: 15rem;">
        <img src="{{pokemon.sprite}}" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">{{pokemon.name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">HP = {{pokemon.hp}}</li>
            <li class="list-group-item">Attack = {{pokemon.attack}}</li>
            <li class="list-group-item">Defense = {{pokemon.defense}}</li>
            <li class="list-group-item">Ability = {{pokemon.ability}}</li>
        </ul>
    </div>

    {% endif %}

{% endblock %}